# 삼항연산자
- #a if 조건식 else b = 조건식이 true 이면 a가 실행 false면 b가 실행

In [2]:
score = 50
"합격" if score >= 60 else "불합격"

'불합격'

In [7]:
a = int(input("정수입력 >> "))
b = int(input("정수입력 >> "))

print("a : %d"%a) if a > b else print("b : %d"%b )

정수입력 >> 3
정수입력 >> 10
b : 10

In [9]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))

print(f'두수의 차 : {num1 -num2}') if num1 > num2 else print(f'두수의 차 : {num2 -num1}')

첫 번째 정수 입력 >> 33
두 번째 정수 입력 >> 5
두수의 차 : 28

In [11]:
num = int(input("정수입력 >> "))
print(f'{num} 은 짝수 입니다') if num%2 == 0 else print(f'{num} 은 홀수입니다.')

정수입력 >> 33
33 은 홀수입니다.

# 조건문

- if, elif, else
- ture와 false 전부 앞에는 대문자여야 한다.

### if 조건문

if 조건식 :
    true일때 실행 문장 실행

In [14]:
if False :
    print("실행문장 실행")
print("if문 밖에 있는 문장 실행")

if문 밖에 있는 문장 실행

In [16]:
money = int(input("money >> "))
if money >= 10000 :
    print("택시를 탄다")

money >> 10000
택시를 탄다

### if else 조건문
- 자바랑 똑같다.

In [18]:
money = int(input("money >> "))
if money >= 10000 :
    print("택시를 탄다")
else :
    print("버스를 탄다")

money >> 2000
버스를 탄다

In [22]:
num = int(input("정수 입력 >> "))
if num % 3 == 0 and num % 5 ==0 :
    print("3과 5의 배수입니다.")
else : 
    print("3과 5의 배수가 아닙니다.")

정수 입력 >> 7
3과 5의 배수가 아닙니다.

### elif 조건문
- 파이썬에서의 else if문!

In [25]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))

if num1 > num2 :
    print("첫 번째 정수가 더 큽니다.")
elif num2 > num1 :
    print("두 번째 정수가 더 큽니다.")
elif num1 == num2 :
    print("두 수가 똑같습니다.")

첫 번째 정수 입력 >> 2
두 번째 정수 입력 >> 2
두 수가 똑같습니다.

In [27]:
# num1 = int(input("첫 번째 정수 입력 >> "))
# num2 = int(input("두 번째 정수 입력 >> "))
# if num1 > num2 :
#     print("첫 번째 정수가 더 큽니다.")
# else if num2 > num1 :
#     print("두 번째 정수가 더 큽니다.")
# else :
#     print("두 수가 똑같습니다.")
#자바에서 하는 것 처럼은 안된다!

In [33]:
score = int(input("점수 입력 >> "))

if score >= 90 and score <= 100 :
    grade = "A"
#     print(f"{score}점은 A학점입니다.")
elif score >= 80 and score < 90 :
    grade = "B"
#     print(f"{score}점은 B학점입니다.")
elif score >= 70 and score < 80 :
    grade = "C"
#     print(f"{score}점은 C학점입니다.")
elif score >= 60 and score < 70 :
    grade = "D"
#     print(f"{score}점은 D학점입니다.")
elif score < 60 :
    grade = "F"
#     print(f"{score}점은 F학점입니다.")
print("{}점은 {}학점 입니다.".format(score,grade))

점수 입력 >> 80
80점은 B학점 입니다.

In [41]:
print('''

================================================

================---- 자판기 ----================

================================================

== 1.콜라 == 2.사이다 ==  3.물  =======insert===

==--------==----------==--------=======------===

==   600  ==    800   ==  1000  ======= O00원===

=======================================------===

================================================

==++++++++++++++++++++++++++++++++++++++++++++==

==++++++++++++++++++++++++++++++++++++++++++++==

==++++++++++++++++++++++++++++++++++++++++++++==

==+++++++++++++++              +++++++++++++++==

==+++++++++++++++     SMHRD    +++++++++++++++==

==+++++++++++++++              +++++++++++++++==

==++++++++++++++++++++++++++++++++++++++++++++==

==++++++++++++++++++++++++++++++++++++++++++++==

================================================

================================================

  ===                                      ===

  ===                                      ===

''')

coin = int(input("Insert Coin >> "))
menu = int(input("메뉴 선택 >> "))


if menu == 1 :
    payback = coin - 600
elif menu == 2 :
    payback = coin - 800
elif menu == 3 :
    payback = coin - 1000

if payback < 0 :
    print("잔액이 부족합니다.")
else :
    천원 = payback // 1000
    오백원 = (payback % 1000) // 500
    백원 = ((payback % 1000) % 500) // 100
    
print(f"잔돈 >> 1000원 {천원}개, 500원 {오백원}개, 100원 {백원}개")

================================================

================---- 자판기 ----================

================================================

== 1.콜라 == 2.사이다 ==  3.물  =======insert===

==--------==----------==--------=======------===

==   600  ==    800   ==  1000  ======= O00원===

=======================================------===

================================================

==++++++++++++++++++++++++++++++++++++++++++++==

==++++++++++++++++++++++++++++++++++++++++++++==

==++++++++++++++++++++++++++++++++++++++++++++==

==+++++++++++++++              +++++++++++++++==

==+++++++++++++++     SMHRD    +++++++++++++++==

==+++++++++++++++              +++++++++++++++==

==++++++++++++++++++++++++++++++++++++++++++++==

==++++++++++++++++++++++++++++++++++++++++++++==

================================================

================================================

  ===                                      ===

  ===                                      ===


Insert Coin >> 3500
메뉴 선택 >> 2
잔돈 >> 1000원 2개, 500원 1개, 100원 2개

# 리스트(list)
- 파이썬의 자료구조 형태중 하나
- 순서가 있는 수정가능한 객체의 집합
- 대괄호로 작성되어지며, 리스트 내부의 값은 콤마로 구분된다.
- 추가, 수정, 삭제 가능
- 자배 배열과 비슷하다.
- 리스트 안에 리스트 가능, 안에 숫자랑 문자 섞어서 넣을 수 있다.

In [46]:
a = []
b = [1,2,3]
c = ["my", "name"]
d = [1, 2, "my", "name"]
e = [1, 2, ["my", "name"]]
print(a)
print(b)
print(c)
print(d)
print(e)
type(a)

[]
[1, 2, 3]
['my', 'name']
[1, 2, 'my', 'name']
[1, 2, ['my', 'name']]

list

In [52]:
#인덱싱 활용
list1 = [1,3,5,7,9]
print(list1[0])
print(list1[3])
print(list1[2] + list1[-1])

1
7
14

In [53]:
list2 = [1,2,3, ["a", "b", "c"]]
list2

[1, 2, 3, ['a', 'b', 'c']]

In [56]:
temp = list2[3]
print(temp[1])
print(list2[3][1])

b
b

In [58]:
#슬라이싱
list3 = [0, 1, 2, 3, 4]
print(list3[1:3])
print(list3[:2])
print(list3[3:])

[1, 2]
[0, 1]
[3, 4]

In [59]:
list4 = [1, 2, 3]
list5 = [3, 4, 5, 6]
list4 + list5

[1, 2, 3, 3, 4, 5, 6]

In [61]:
#리스트.append(넣고싶은 값) 을 통해 추가가능  ->>> 맨 뒤에 값이 추가된다.
list6 = [0,1,2,3,4]
list6.append(5)
list6

[0, 1, 2, 3, 4, 5]

In [64]:
list7 = ["사과", "포도", ["수박", "멜론" ], "복숭아", "딸기", "오렌지" ]
apple = list7[0]
watermelon = list7[2][0]
orange = list7[-1]
choice_list = []
choice_list.append(apple)
choice_list.append(orange)
choice_list.append(watermelon)
print(choice_list)

['사과', '오렌지', '수박']

In [69]:
#list 의 insert(인덱스 위치, 값) 함수 사용
#인덱스 위치에 값 추가가 가능한 함수!
list5 = [0, 1, 2, 3, 4]
list5.insert(1,5) # 넣고 싶은 자리에 지정!
list5.insert(5,6)
print(list5)

[0, 5, 1, 2, 3, 6, 4]

In [72]:
index = int(input("인덱스 위치 입력 >> "))
song = input("노래제목 입력 >> ")
singer = input("가수입력 >> ")
music_list = []

music_list.insert(index, [song, singer])

print(music_list)

인덱스 위치 입력 >> 0
노래제목 입력 >> 노래
가수입력 >> 제목
[['노래', '제목']]